.container {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 120px;
  height: 120px;
  margin: 15px;
}

.container_big {
  height: 152px;
  margin-bottom: 15px;
}

.button {
  width: 120px;
  height: 120px;
  padding: 15px;
  transition: opacity 0.5s, border-color 0.5s;
  cursor: pointer;
  border: 1px solid #E9EAE9;
  border-radius: 20px;
  background: transparent;
  color: #E9EAE9!important;
  font-size: 14px!important;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: none;
  text-decoration: none!important;
}

.button:hover {
  opacity: 0.5;
}

.button_active {

}

.button_faded {

}

.button[disabled] {
  opacity: 0.25;
  cursor: not-allowed;
}

.image {
  width: 60px;
  height: 60px;
  background: center center no-repeat;
  background-size: contain;
}

.title {
  margin-top: 14px;
  text-align: center;
  text-transform: none;
}

.button:focus {
  outline: none;
}


.container .link {
  margin-top: 15px!important;
  font-size: 13px!important;
  color: #E9EAE9!important;
  text-decoration: none!important;
  transition: opacity!important;
  will-change: opacity!important;
  font-weight: 500!important;
}

.container .link:hover {
  opacity: 0.7;
  text-decoration: underline!important;
}

@media screen and (min-width: 768px) {
  .container {
    width: 160px;
    height: 160px;
    margin: 35px 30px;
  }

  .container_big {
    height: 192px;
  }

  .button {
    width: 160px;
    height: 160px;
    padding: 15px;
  }

  .image {
    width: 100px;
    height: 100px;
  }
  .container.small .image{
    width: 80px;
    height: 80px;
  }
}
