.dialog {
  width: 100%!important;
  min-height: 100vh!important;
  max-width: 1000px!important;
  background-color: #000000!important;
  color: #E9EAE9!important;
  transition: width 0.5s, height 0.5s, padding 0.5s;
  will-change: width, height, padding;
  position: relative!important;
  display: block!important;
  padding: 20px!important;
  margin: 0!important;
  border-radius: 0!important;
  border: 0!important;
}

.content {
  height: calc(100vh - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 42px;
  height: 42px;
  transition: opacity 0.5s;
  will-change: opacity;
  background: transparent url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMC4zMzMiIGhlaWdodD0iMjAuMzMzIiB2aWV3Qm94PSIwIDAgMjAuMzMzIDIwLjMzMyI+PHBhdGggZD0iTTI1LjMzMyw3LjA0OCwyMy4yODUsNWwtOC4xMTksOC4xMTlMNy4wNDgsNSw1LDcuMDQ4bDguMTE5LDguMTE5TDUsMjMuMjg1bDIuMDQ4LDIuMDQ4LDguMTE5LTguMTE5LDguMTE5LDguMTE5LDIuMDQ4LTIuMDQ4LTguMTE5LTguMTE5WiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTUgLTUpIiBmaWxsPSIjZjRmNGY0Ii8+PC9zdmc+") center center no-repeat;
  border: 2px solid #707070;
  border-radius: 21px;
  cursor: pointer;
}

.close:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .dialog {
    padding: 30px 30px 30px!important;
    margin: 15px!important;
    border-radius: 20px!important;
    min-height: 0!important;
  }

  .dialog_small {
    max-width: 470px!important;
  }

  .content {
    display: block;
    height: auto;
    justify-content: normal;
    align-items: normal;
  }
}

@media screen and (min-width: 1280px) {
  .dialog {
    padding: 30px 70px 70px!important;
    margin: 40px!important;
  }

  .dialog_normal {
    max-width: 1000px!important;
  }
  .dialog_large {
    max-width: 1000px!important;
  }

  .close {
    right: -33px;
    top: -33px;
  }
}

.sr_only {
  display: none;
}

@media speech {
  .sr_only {
    display: block;
  }
}

.dialog h1 {
  font-size: 23px!important;
  font-weight: bold!important;
  text-align: center!important;
  text-transform: none!important;
  margin-bottom: 35px!important;
}

.dialog, .dialog * {
  box-sizing: border-box;
}

.dialog a {
  color: #FEC004!important;
  text-decoration: underline!important;
  font-size: 12px!important;
  font-weight: 500!important;
}

.dialog a:hover {
  text-decoration: none!important;
}
