.provider {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem 0;
  width: 100%;
  border: 1px solid black;
  padding: 0.3rem;
}
.provider__value {
  margin-left: 1rem;
}
.provider__download {
  font-size: 0.8rem;
  opacity: .8;
}
